.list-group {
    margin-top: 2rem;
    
}

.list-group-item {
    color: #000;
    background-color: #E8E8E8;
    font-family: 'Open Sans', sans-serif;
}

.list-group-item:hover {
    background-color: #CFCFCF;
    text-decoration: none;
    color: white;
}

.display-3 {
    color: #31393C;
    font-family: 'Open Sans', sans-serif;
}