.list-group {
    margin-top: 2rem;
    
}

.list-group-item {
    color: #000;
    background-color: #F1F1F1;
    font-family: 'Open Sans', sans-serif;
}

.list-group-item:hover {
    background-color: #D2D2D2;
    text-decoration: none;
    color: white;
}

.display-3 {
    color: #141414;
    font-family: 'Open Sans', sans-serif;
}