.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.nav-links{
    color: white;
    display: inline-flex;
    margin: 0.5rem;
}

.nav-links:hover{
    text-shadow: -1px 1px 15px #212020;
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}

.navbar-brand:hover {
    text-shadow: -1px 1px 15px #212020;
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}

