.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #274060;
    z-index: 1;
}

.nav-links{
    color: #F5F5F5;
    display: inline-flex;
    margin: 0.5rem;
    transition: border 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
}

.nav-links:hover{
    text-shadow: -1px 1px 15px #212020;
    color: #F5F5F5;
    text-decoration: none;
    transform: scale(1.05);
    border-color: #F5F5F5;
}

.navbar-brand:hover {
    text-shadow: -1px 1px 15px #212020;
    color: #F5F5F5;
    text-decoration: none;
    transform: scale(1.1);
}

