.App {
  text-align: center;
}

.jumbotron {
  background-color: #C8C8C8;
  font-family: 'Barlow', sans-serif;
}

.table {
  background-color: #E8E8E8;
  font-family: 'Barlow', sans-serif;
}

h2 {
  margin: 1rem;
}